.dd-select{ border-radius:2px; border:solid 1px #ccc; position:relative; cursor:pointer;}.dd-desc { color:#aaa; display:block; overflow: hidden; font-weight:normal; line-height: 1.4em; }.dd-selected{ overflow:hidden; display:block; padding:10px; font-weight:bold;}.dd-pointer{ width:0; height:0; position:absolute; right:10px; top:50%; margin-top:-3px;}.dd-pointer-down{ border:solid 5px transparent; border-top:solid 5px #000; }.dd-pointer-up{border:solid 5px transparent !important; border-bottom:solid 5px #000 !important; margin-top:-8px;}.dd-options{ border:solid 1px #ccc; border-top:none; list-style:none; box-shadow:0px 1px 5px #ddd; display:none; position:absolute; z-index:2000; margin:0; padding:0;background:#fff; overflow:auto;}.dd-option{ padding:10px; display:block; border-bottom:solid 1px #ddd; overflow:hidden; text-decoration:none; color:#333; cursor:pointer;-webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out; }.dd-options > li:last-child > .dd-option{ border-bottom:none;}.dd-option:hover{ background:#f3f3f3; color:#000;}.dd-selected-description-truncated { text-overflow: ellipsis; white-space:nowrap; }.dd-option-selected { background:#f6f6f6; }.dd-option-image, .dd-selected-image { vertical-align:middle; float:left; margin-right:5px; max-width:64px;}.dd-image-right { float:right; margin-right:15px; margin-left:5px;}.dd-container{ position:relative;}​ .dd-selected-text { font-weight:bold}​


.main-tabs-docs .nav-mtd {
white-space: nowrap;
overflow-x: auto;
position: relative; }
@media (min-width: 62rem) {
  .main-tabs-docs .nav-mtd {
    overflow-x: hidden; } }
.main-tabs-docs .nav-mtd li a {
  display: block;
  padding: 20px 24px;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-weight: 500;
  border-bottom: 3px solid #33b5e5; }
  .main-tabs-docs .nav-mtd li a.active {
    border-bottom: 3px solid;
    color: #fff; }
@media (min-width: 62em) {
  .main-tabs-docs .nav-mtd li:first-child {
    margin-left: 56px; } }

.documentation .primary-heading {
font-size: 2.7rem;
font-weight: 500; }

.documentation .secondary-heading {
font-size: 1.5rem;
font-weight: 500;
color: #444343;
overflow: hidden;
padding-bottom: .3rem;
margin-bottom: .7rem; }

.documentation .section-heading {
font-size: 2rem;
font-weight: 600;
margin-bottom: 1.4rem; }

.documentation .docs-pills {
margin-top: 1.4rem; }

.documentation .section-preview {
  border: 1px solid #e0e0e0;
  padding: 15px; }

@media only screen and (max-width: 991px) {
  .sticky, .sticky2, .sticky3,
  .sticky-placeholder {
    display: none;
  }
}




div.dataTables_wrapper div.dataTables_filter select,
  div.dataTables_wrapper div.dataTables_length input,
  div.dataTables_wrapper div.dataTables_length select {
    width: auto
  }

  table.dataTable thead {
    cursor: pointer
  }

  div.dataTables_wrapper div.dataTables_length.d-flex.flex-row label {
    margin-top: 1.2rem;
    margin-right: 1rem
  }

  div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select .select-dropdown,
  div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select span {
    margin-top: 1rem
  }

  div.dataTables_wrapper div.dataTables_filter label,
  div.dataTables_wrapper div.dataTables_length label {
    text-align: left;
    font-weight: 400;
    padding-top: .5rem;
    padding-bottom: .5rem
  }

  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_paginate {
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem
  }

  div.dataTables_wrapper div.dataTables_filter {
    text-align: right
  }

  div.dataTables_wrapper div.dataTables_filter input {
    width: auto;
    margin-left: .5rem;
    display: inline-block
  }

  div.dataTables_wrapper div.dataTables_paginate {
    text-align: right;
    margin: 0
  }

  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }

  div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #4285f4
  }

  div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item .page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none
  }

  @media (max-width:767px) {

    div.dataTables_wrapper div .dataTables_filter,
    div.dataTables_wrapper div .dataTables_info,
    div.dataTables_wrapper div .dataTables_length,
    div.dataTables_wrapper div .dataTables_paginate ul.pagination {
      text-align: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center
    }
  }

  .bs-select select {
    display: inline-block !important
  }

  table.dataTable thead>tr>td.sorting,
  table.dataTable thead>tr>td.sorting_asc,
  table.dataTable thead>tr>td.sorting_desc,
  table.dataTable thead>tr>th.sorting,
  table.dataTable thead>tr>th.sorting_asc,
  table.dataTable thead>tr>th.sorting_desc {
    padding-right: 30px
  }

  table.dataTable thead>tr>td:active,
  table.dataTable thead>tr>th:active {
    outline: 0
  }

  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative
  }

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
    position: absolute;
    bottom: .9em;
    display: block;
    opacity: .3
  }

  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\f0de";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 1rem
  }

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc_disabled:after {
    content: "\f0dd";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    right: 16px;
    font-size: 1rem
  }

  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_desc:after {
    opacity: 1
  }

  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0
  }

  table.dataTable tbody>tr.selected,
  table.dataTable tbody>tr>.selected {
    background-color: #B0BED9
  }

  table.dataTable.display tbody>tr.odd.selected,
  table.dataTable.display tbody>tr.odd>.selected,
  table.dataTable.stripe tbody>tr.odd.selected,
  table.dataTable.stripe tbody>tr.odd>.selected {
    background-color: #acbad4
  }

  table.dataTable.display tbody>tr.selected:hover,
  table.dataTable.display tbody>tr>.selected:hover,
  table.dataTable.hover tbody>tr.selected:hover,
  table.dataTable.hover tbody>tr>.selected:hover {
    background-color: #aab7d1
  }

  table.dataTable.display tbody>tr.selected>.sorting_1,
  table.dataTable.display tbody>tr.selected>.sorting_2,
  table.dataTable.display tbody>tr.selected>.sorting_3,
  table.dataTable.display tbody>tr>.selected,
  table.dataTable.order-column tbody>tr.selected>.sorting_1,
  table.dataTable.order-column tbody>tr.selected>.sorting_2,
  table.dataTable.order-column tbody>tr.selected>.sorting_3,
  table.dataTable.order-column tbody>tr>.selected {
    background-color: #acbad5
  }

  table.dataTable.display tbody>tr.odd.selected>.sorting_1,
  table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1 {
    background-color: #a6b4cd
  }

  table.dataTable.display tbody>tr.odd.selected>.sorting_2,
  table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_2 {
    background-color: #a8b5cf
  }

  table.dataTable.display tbody>tr.odd.selected>.sorting_3,
  table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_3 {
    background-color: #a9b7d1
  }

  table.dataTable.display tbody>tr.even.selected>.sorting_1,
  table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_1 {
    background-color: #acbad5
  }

  table.dataTable.display tbody>tr.even.selected>.sorting_2,
  table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_2 {
    background-color: #aebcd6
  }

  table.dataTable.display tbody>tr.even.selected>.sorting_3,
  table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_3 {
    background-color: #afbdd8
  }

  table.dataTable.display tbody>tr.odd>.selected,
  table.dataTable.order-column.stripe tbody>tr.odd>.selected {
    background-color: #a6b4cd
  }

  table.dataTable.display tbody>tr.even>.selected,
  table.dataTable.order-column.stripe tbody>tr.even>.selected {
    background-color: #acbad5
  }

  table.dataTable.display tbody>tr.selected:hover>.sorting_1,
  table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_1 {
    background-color: #a2aec7
  }

  table.dataTable.display tbody>tr.selected:hover>.sorting_2,
  table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_2 {
    background-color: #a3b0c9
  }

  table.dataTable.display tbody>tr.selected:hover>.sorting_3,
  table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_3 {
    background-color: #a5b2cb
  }

  table.dataTable.display tbody>tr:hover>.selected,
  table.dataTable.display tbody>tr>.selected:hover,
  table.dataTable.order-column.hover tbody>tr:hover>.selected,
  table.dataTable.order-column.hover tbody>tr>.selected:hover {
    background-color: #a2aec7
  }

  table.dataTable tbody td.select-checkbox,
  table.dataTable tbody th.select-checkbox {
    position: relative
  }

  table.dataTable tbody td.select-checkbox:after,
  table.dataTable tbody td.select-checkbox:before,
  table.dataTable tbody th.select-checkbox:after,
  table.dataTable tbody th.select-checkbox:before {
    display: block;
    position: absolute;
    top: 1.2em;
    left: 50%;
    width: 12px;
    height: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  table.dataTable tbody td.select-checkbox:before,
  table.dataTable tbody th.select-checkbox:before {
    content: ' ';
    margin-top: 4px;
    margin-left: -6px;
    border: 1px solid #000;
    -webkit-border-radius: 3px;
    border-radius: 3px
  }

  table.dataTable tr.selected td.select-checkbox:after,
  table.dataTable tr.selected th.select-checkbox:after {
    content: '\2714';
    margin-top: 0;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9
  }

  div.dataTables_wrapper span.select-info,
  div.dataTables_wrapper span.select-item {
    margin-left: .5em
  }

  @media screen and (max-width:640px) {

    div.dataTables_wrapper span.select-info,
    div.dataTables_wrapper span.select-item {
      margin-left: 0;
      display: block
    }
  }